div.wrapper
  h1= title
  p= description
  
  div#main 
    div#input
      h2 Input
      form(action='/', method='post') 
        div.text
          label(for='lessinput') 
            h3 Add your LESS here
          textarea#lessinput(name='lessinput', rows='20') #{uncompiled}
      
        div.minify
          label(for='minify') Minify
          input#minify(type='checkbox', id='minify', value='true', name='minify')
      
        input#submit(type="submit") Submit
    
    
    div#output
      h2 Output
      - if (err)
        div#lessresponse
          label(for='lessoutput')
            h3 Errors
          textarea#lessoutput(tabindex='0', rows='20', name='lessoutput', readonly='readonly')
              #{err.message} >> #{err.extract[1]}
              Line: #{err.line}
              Column: #{err.column}
      - else if (compiledcss)
        div#lessresponse
          label(for='lessoutput')
            h3 #{minified} CSS
          textarea#lessoutput(tabindex='0', rows='20', name='lessoutput', readonly='readonly')= compiledcss

